{% extends "base.html" %}
{% block title %}Delete Question{% endblock %}

{% block content %}
<h1>Delete Question</h1>

<div class="card">
  <p style="color:var(--muted); margin-top:0;">
    Are you sure you want to delete this question?
  </p>

  <p><b>{{ question.text|default:"(No text)" }}</b></p>

  <form method="post">
    {% csrf_token %}
    <button class="btn danger" type="submit">Yes, delete</button>
    <a class="btn" href="{% url 'teacher_quiz_detail' quiz.id %}">Cancel</a>
  </form>
</div>
{% endblock %}
