{% extends "base.html" %}

{% block title %}Enter Quiz{% endblock %}

{% block content %}
<div class="card">
  <h1>Enter Quiz</h1>

  <p>
    You are logged in as:
    <strong>
      {{ request.user.student_profile.first_name }}
      {{ request.user.student_profile.second_name }}
      {{ request.user.student_profile.third_name }}
    </strong>
  </p>

  <form method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="form-group">
      {{ form.quiz_code.label_tag }}
      {{ form.quiz_code }}
      {{ form.quiz_code.errors }}
    </div>

    <button type="submit" class="btn">
      Start Quiz
    </button>
  </form>
</div>
{% endblock %}
