Django>=4.2,<6.0

gunicorn
whitenoise
dj-database-url
psycopg2-binary

Pillow
qrcode[pil]
openpyxl
sendgrid>=3.5,<4.0
sendgrid-django==4.2.0
openai>=1.0.0

# Cloudinary for file/image storage
cloudinary
django-cloudinary-storage
